:root {
    --deep-blue: #273c75;
    --white-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--deep-blue);
    color: var(--white-color);
}

.page {
    height: 100vh;
    display: flex;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: auto;
}

h1 {
    text-transform: capitalize;
}
